# Dependências
node_modules/
.pnp
.pnp.js

# Builds e Bundles
dist/
build/
*.tsbuildinfo

# Variáveis de Ambiente e Segredos
.env
.env.local
.env.*.local
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# SO
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
